<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amycorp.parkea">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Permisos Para acceder gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permisos Para acceder a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrarUsuario"
            android:label="@string/title_activity_registrar_usuario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacultadesActivity"
            android:label="Facultades"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParqueaderosFacultadActivity"
            android:label="Parqueaderos"
            android:screenOrientation="portrait" />

        <activity android:name=".MapaActivity" />
        <activity
            android:name=".PrincipalActivity"
            android:label="Mi Perfil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>